<!DOCTYPE html>
<html>
<head>
	<title>VueJs</title>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<div id="app">
		
		<p>Validação da soma de números aleatórios usando a condicional if</p>
		<header class="header">

			

		</header>
		<section class="container">
			<section class="container__content">
				<span>{{n1}} + {{n2}} =</span>
				<input type="text" v-model="n3" />
				<div v-if="n1 + n2 == parseInt(n3)">Acertou!</div>
				<div v-if="n3 != '0' && n1 + n2 != parseInt(n3)">Errou!</div>

				

			</section>
			<aside class="container__sidebar">

				

			</aside>
		</section>
		<footer class="footer">

			<a href="../index.html">home</a>

		</footer>
	</div>

	<script src="script.js"></script>
</body>
</html>